:root{
    --bleu:rgb(51, 102, 255); ;
    --body-bl: #F7F6F1;
    --blanc: #ffffff;
    --gris: silver;
    --gris-clr: rgb(204, 255, 255);;
    --rouge : #ff0000;
    --vert : #348337;
    --noir :#000;
    --bleu-cl: rgb(11 148 187);
    --navy : Navy;
    --jaune : Yellow;
    --parchemin: #f0f7ff;
    --bleu_clr:#7567f3;
    --bleublanc:#ced4e5;
    --haut_accueil: 515px;
  }
body{
    color: var(--bleu);
    background-color: rgb(204, 255, 255);
    /* background-image: url("systeme/img/fond-182.jpg") ; */
    /* min-height: 100vh; */
}
footer {
    background-color: var(--bleu);
    color: var(--gris-clr);
    height: 40px;
    font-style: italic;
}
footer p {
    margin: 0 ;
    padding: 10px 0;
    text-align: center;
}
footer a{
    color: var(--blanc);
}
footer a:hover, footer a:active{
    color: var(--noir);
}
figcaption {
    text-align: center;
}
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 10;
    background-color: var(--bleu);
    display: flex;
    justify-content: space-between;
    color: var(--gris-clr);
    font-size: 1.3rem;
}
#logo-nav {
    margin-left: 10px;
    /* margin-top: 4px; */
}
#logo-nav h1 {
    font-size: 2em;
    margin-top: 10px;
}
/* #titre-adresse {
    padding-top: 30px;
    font-style: italic;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--gris-clr);
} */
#menu {
    list-style-type: none;
    margin-top: 25px;
    padding-left: 0;
}
#menu li {
    margin-left: 10px;
    float: left;
}
#menu li a {
    padding: 5px;
    color: var(--gris-clr);
    text-decoration:none;
}
#menu li a:active, #menu li a:hover{
	color: var(--noir);
}
main {
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 2rem;
    min-height: calc(100vh - 152px);
}
a {
    text-decoration: none;
    color: var(--bleu-cl);
}
a:hover, a:active{
    color: var(--bleu); 
}

/* recup css page presentation ancien site */

/* regles css 2023 */
#accueil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    /* grid-row-gap: 1em; */
    /* padding: 1rem; */
    /* margin-top: 3.5rem; */
}
#menu_accueil {
    /* background-color: chartreuse; */
    width: 69%;
    /* height: var(--haut_accueil); */
    height: 500px;
    position: relative;
    top: 3%;
    left: 32%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#menu_accueil ul {
    list-style: none;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 40px;
}
.indic10 {
    position: relative;
    left: 73px;
}
.indic11 {
    position: relative;
    left: 34px;
}
.indic12 {
    position: relative;
    left: 12px;
}
.indic13 {
    position: relative;
    left: 0px;
}
.indic14 {
    position: relative;
    left: 0px;
}
.indic15 {
    position: relative;
    left: 12px;
}
.indic16 {
    position: relative;
    left: 34px;
}
.indic17 {
    position: relative;
    left: 73px;
}
#puzzle{
    text-align: center;
    font-style: italic; 
    top: 1rem;
    position: relative;
}
#puzzle img{
    width: 85%;
}
/* #txt_accueil {
    position: relative;
    margin-top: 21vw;
    margin-right: 1vw;
} */
#blog_actu{
    position: relative;
    margin: 0 auto;
    top: 2rem;
    height: var(--haut_accueil);
    width: 330px;
}
#Actu {
    position: relative;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    background-color: var(--bleu);
    border-width: 1px;
    border-style: solid;
    border-color: var(--navy);
    color: var(--gris-clr);
}
#ActuContenant {
    height: 435px;
    overflow: hidden;
    position: relative;
    visibility: visible;
    font-family: sans-serif;
    font-size: 10pt;
    border-width: 1px;
    border-style: solid;
    border-color: var(--navy);
    background-color: var(--gris);
    color: var(--noir);
    text-align:justify ;
}
#ActuTexte {
   left: 0px;
   position: absolute;
   padding-left:10px;
   top: 0px;
   padding-right : 10px;
} 
#ActuTexte p{
    margin-bottom: 1rem;
}

/* section des pages centrees */
#page_cnt {
    width: 80%;
    margin: 0 auto;
     position: relative;
    margin-top: 7rem;
    z-index: -1;
    padding-bottom: 1rem;
}
#page_cnt p{
    font-size: 1.3rem;
    text-align: justify;
}
.image_cnt {
    margin: 0;
    position: relative;
    text-align: center;
}
.image_cnt img{
    width: 45%;
    position: relative;
}


/* section orgue virtuel */
#orgue_virtuel h1{
    text-align: center;
}
#table_instru1, #table_instru2, #table_instru3, #table_instru4{
    position: relative;
    width: 60%;
    margin: 3% auto;
    border: 1px solid var(--bleu);
}
#table_instru1, #table_instru2, #table_instru3, #table_instru4 {
    position: relative;
    width: 60%;
    margin: 3% auto;
    background-color: var(--parchemin);
    padding: 5px;
}
#table_instru1 th{
    text-align: center;
}
#table_instru1 td{
    width: calc(100%/3);
}
#table_instru2 {
    width: 33%;
}
#table_instru2 caption {
    left: 80%;
}
#table_instru3 caption {
    left: 20%;
}
#table_instru4 caption {
    left: -16%;
}
blockquote {
    text-align: justify;
    font-style: italic;
    background-color: var(--parchemin);
    padding: 1rem;
}
cite {
    margin-left: 7%;
}
.txt_rouge{
    color: var(--rouge);
}
/* section auteur */
.image1:hover img{
   width:500px;
   height:638px;
}
#Gauche {
    display: block;
   text-align: justify;
   width:41%;
   float:left;
   background-color:#bccadb;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:1%;
   padding-right:1%;
   text-indent: 1rem;
}
#Centre{
   width:18%;
   float:left;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:6%;
   padding-right:1%;
}
#Droite{
   width:41%;
   float:left;
   background-color:#bccadb;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:1%;
   padding-right:1%;
}
#BasDePage{
   background-color:#bccadb;
   border-top:0px solid black;
   border-bottom:0px solid black;
   text-align:center;
   padding-bottom:10px;
   padding-top:10px;
   width:100%;
   clear:both;
}
.cnt{
    text-align: center;
}
.i{
    font-style: italic;
}
.g{
    font-weight: bold;
}