:root{
    --bleu:rgb(51, 102, 255); ;
    --body-bl: #F7F6F1;
    --blanc: #ffffff;
    --gris: silver;
    --gris-clr: rgb(204, 255, 255);;
    --rouge : #ff0000;
    --vert : #348337;
    --noir :#000;
    --bleu-cl: rgb(11 148 187);
    --navy : Navy;
    --jaune : Yellow;
    --parchemin: #f0f7ff;
    --bleu_clr:#7567f3;
    --bleublanc:#ced4e5;
    --haut_accueil: 515px;
  }
body{
    color: var(--bleu);
    background-color: var(--gris-clr);
    /* background-image: url("systeme/img/fond-182.jpg") ; */
    /* min-height: 100vh; */
}
footer {
    background-color: var(--bleu);
    color: var(--gris-clr);
    height: 40px;
    font-style: italic;
}
footer p {
    margin: 0 ;
    padding: 10px 0;
    text-align: center;
}
footer a{
    color: var(--blanc);
}
footer a:hover, footer a:active{
    color: var(--noir);
}
figcaption {
    text-align: center;
}
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    z-index: 10;
    background-color: var(--bleu);
    display: flex;
    justify-content: space-between;
    color: var(--gris-clr);
    font-size: 1.3rem;
}
#logo-nav {
    margin-left: 10px;
    /* margin-top: 4px; */
}
#logo-nav h1 {
    font-size: 2em;
    margin-top: 10px;
}
/* #titre-adresse {
    padding-top: 30px;
    font-style: italic;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--gris-clr);
} */
#menu {
    list-style-type: none;
    margin-top: 25px;
    padding-right: 10px;
}
#menu li {
    margin-left: 10px;
    float: left;
}
#menu li a {
    padding: 5px;
    color: var(--gris-clr);
    text-decoration:none;
}
#menu li a:active, #menu li a:hover{
	color: var(--noir);
}
/* main {
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 2rem;
    min-height: calc(100vh - 152px);
} */
main {
    margin-top: 6rem;
    width: 100%;
    margin-bottom: 2rem;
    min-height: calc(100vh - 168px);
}
a {
    text-decoration: none;
    color: var(--bleu-cl);
}
a:hover, a:active{
    color: var(--bleu); 
}

/* recup css page presentation ancien site */

/* regles css 2023 */
#accueil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    height: 536px;
}
#menu_accueil{
    /* background-color: chartreuse; */
    width: 69%;
    /* height: var(--haut_accueil); */
    height: 500px;
    position: relative;
    top: 3%;
    left: 32%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}
#menu_accueil ul, #nav_cath {
    list-style: none;
    height: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 40px;
    width: 240px;
}
#nav_cath {
    /* list-style-type: none; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    left: 90px;
    /* position: relative; */
    top: -15px;
    height: 423px;
    padding: 0px;
    
}
#accueil_cath {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    height: 467px;
}
#menu_cath {
    /* background-color: chartreuse; */
    width: 69%;
    height: 450px;
    position: relative;
    top: 3%;
    left: 15%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    
}
#milieu_cath {
    top: 15px;
    position: relative;
}
.vue_slide {
    height: 465px;
    /* width: 307px; */
    background-color: beige;
    box-shadow: 0px 15px 10px -5px #777;
    background-size: contain;
    animation: fondu 30s linear infinite both;
    aspect-ratio:3/4 ;
}
/* .slide{
    width: 100%;
    height: 0px;
    box-shadow: 0 0 10px #777;
    animation: fondu 50s ease-in-out infinite both;
} */
/* .container{
    padding-top: 75%;
    margin: 50px auto;
} */
@keyframes fondu {
    0%{
        background-image: url(../img/images_slide/orgue_jacques_amyot_01.png);
        /* background-size: 100%; */
    }
    14.28%{
        background-image: url(../img/images_slide/orgue_jacques_amyot_02.png);
        /* background-size: 100%; */
    }
    28.56%{
        background-image: url(../img/images_slide/orgue_anneessens_1901.jpg);
        /* background-size: 100%; */
    }
    42.85%{
        background-image: url(../img/images_slide/orgue_anneessens_1973_1.jpg);
        /* background-size: 100%; */
    }
    57.13%{
        background-image: url(../img/images_slide/orgue_anneessens_1973_2.jpg);
        /* background-size: 100%; */
    }
    71.41%{
        background-image: url(../img/images_slide/vue_orgue_auxerre.png);
        /* background-size: 100%; */
    }
    85.69%{
        background-image: url(../img/images_slide/chamades_orgue_auxerre.png);
        /* background-size: 100%; */
    }
    100%{
        background-image: url(../img/images_slide/orgue_oberthur_3a.jpg);
        /* background-size: 100%; */
    }
}
.vue_slide:hover, .slide:hover{
    animation-play-state: paused;
}
#droit_cath{
    position: relative;
    overflow-y: scroll;
    background-color: var(--gris); 
    color: var(--noir);
    padding: 10px 5px 10px 5px;
    top: 3%;
    left: 15%;
    width: 69%;
    height: 450px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--navy);
}
#nav_cath ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: none;
    margin-left: 15px;
}
#nav_cath li a, #nav_cath li {
    display: block;
    font-size: 1rem;
    margin-top: 2px;
    font-weight: bold;
    padding: 3px;
}
.trt_accueil {
    color: var(--gris-clr);
    background-color: var(--bleu);
    width: 140px;
    text-align: center;
}
.sous_menu_cath li{
    padding: 0.35rem 0.5rem; 
}
#nav_cath li:hover ul {
   display: block ;
   position: relative;
   z-index: 100; 
}
.indic30{
    position: relative;
    left: 100px;
}
.indic31{
    position: relative;
    left: -8px;
}
.indic32 {
    position: relative;
    left: -54px;
}
.indic33 {
    position: relative;
    left: -79px;
}
.indic34 {
    position: relative;
    left: -90px;
}
.indic35 {
    position: relative;
    left: -86px;
}
.indic36 {
    position: relative;
    left: -67px;
}
.indic37 {
    position: relative;
    left: -33px;
}
.indic38 {
    position: relative;
    left: 35px;
}

#milieu_cath h3{
    text-align: center;
}
#para_retrait p{
    margin-bottom: 0;
}
#para_retrait p + p{
    text-indent: 1rem;
    margin-top: 0;
}
#titre_cath {
    position: relative;
    margin-top: 6%;
    text-align: center;
}
#titre_cath > h1 {
    margin-bottom: 10px;
}
.indic10, .indic17, .indic11, .indic16, .indic12, .indic15, .indic13, .indic14{
    position: relative;
}
.indic10, .indic17{
    left: 73px;
}
.indic11, .indic16{
    left: 34px;
}
.indic12, .indic15 {
    left: 12px;
}
.indic13, .indic14{
    left: 0px;
}
#puzzle{
    text-align: center;
    font-style: italic; 
    top: 1rem;
    position: relative;
}
#puzzle img{
    width: 85%;
}
/* #txt_accueil {
    position: relative;
    margin-top: 21vw;
    margin-right: 1vw;
} */
#blog_actu{
    position: relative;
    margin: 0 auto;
    top: 2rem;
    height: var(--haut_accueil);
    width: 330px;
}
#Actu {
    position: relative;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    background-color: var(--bleu);
    border-width: 1px;
    border-style: solid;
    border-color: var(--navy);
    color: var(--gris-clr);
}
#ActuContenant {
    height: 435px;
    overflow: hidden;
    position: relative;
    visibility: visible;
    font-family: sans-serif;
    font-size: 10pt;
    border-width: 1px;
    border-style: solid;
    border-color: var(--navy);
    background-color: var(--gris);
    color: var(--noir);
    text-align:justify ;
}
#ActuTexte {
   left: 0px;
   position: absolute;
   padding-left:10px;
   top: 0px;
   padding-right : 10px;
} 
#ActuTexte p{
    margin-bottom: 1rem;
}

/* section des pages centrees */
#page_cnt, #page_cath {
    width: 80%;
    margin: 0 auto;
     position: relative;
    margin-top: 7rem;
    z-index: -1;
    padding-bottom: 1rem;
}
#page_cnt p,#page_cath p{
    font-size: 1.3rem;
    text-align: justify;
}
.img_text{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.image_cnt, .img_left{
    margin: 0;
    position: relative;
    text-align: center;
}
.image_cnt img{
    width: 45%;
    position: relative;
}
.img_left  .blason{
    width: 50%;
    position: relative;
}
.para_text {
    display: inline-grid;
    align-content: center;
    /* text-indent: 10%; */
}

/* section orgue virtuel */
#orgue_virtuel h1{
    text-align: center;
}
#table_instru1, #table_instru2, #table_instru3, #table_instru4{
    position: relative;
    width: 60%;
    margin: 3% auto;
    border: 1px solid var(--bleu);
}
#table_instru1, #table_instru2, #table_instru3, #table_instru4 {
    position: relative;
    width: 60%;
    margin: 3% auto;
    background-color: var(--parchemin);
    padding: 5px;
}
#table_instru1 th{
    text-align: center;
}
#table_instru1 td{
    width: calc(100%/3);
}
#table_instru2 {
    width: 33%;
}
#table_instru2 caption {
    left: 80%;
}
#table_instru3 caption {
    left: 20%;
}
#table_instru4 caption {
    left: -16%;
}
blockquote {
    text-align: justify;
    font-style: italic;
    background-color: var(--parchemin);
    padding: 1rem;
}
cite {
    margin-left: 7%;
}
.txt_rouge{
    color: var(--rouge);
}
/* section auteur */
.image1:hover img{
   width:500px;
   height:638px;
}
#Gauche {
    display: block;
   text-align: justify;
   width:41%;
   float:left;
   background-color:#bccadb;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:1%;
   padding-right:1%;
   text-indent: 1rem;
}
#Centre{
   width:18%;
   float:left;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:6%;
   padding-right:1%;
}
#Droite{
   width:41%;
   float:left;
   background-color:#bccadb;
   padding-bottom:10px;
   padding-top:10px;
   padding-left:1%;
   padding-right:1%;
}
#BasDePage{
   background-color:#bccadb;
   border-top:0px solid black;
   border-bottom:0px solid black;
   text-align:center;
   padding-bottom:10px;
   padding-top:10px;
   width:100%;
   clear:both;
}
#histoir_acth h1 {
    font-size: 36px;
    color: rgb(255, 0, 0);
    text-align: center;
}
#histoir_acth h2 {
    font-style: italic;
    text-align: center;
    font-size: 28px;
}
/* #page_cath p{
    text-indent:50px;
} */
.cnt{
    text-align: center;
}
.i{
    font-style: italic;
}
.g{
    font-weight: bold;
}
/* media query */

@media (min-width: 576px) {
	#container{
	  max-width: 540px;
	}
  }
  @media (min-width: 768px) {
	 #container{
	  max-width: 720px;
	}
  }
  @media (min-width: 992px) {
	 #container{
	  max-width: 960px;
	}
  }
  @media (min-width: 1200px) {
	 #container{
	  max-width: 1140px;
	}
  }